body {
    background: #b89c8f;
    color: #281e19;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

h1 {
    font-family: fantasy;
    color: #5a433e;
    font-size: 50px;
    font-variant: small-caps;
    border: 3px solid #6c554a;
    border-radius: 25px;
    background-color: #f4dabda7;
    margin: 25px;
}

#catImg {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 10px;
    right: 50px;
}

#game {
    border: #463730 solid 0.5pc;
    border-radius: 1pc;
}

#footnote {
    font-size: 12px;
}